:root {
    /* good colors to use*/
    --color-one: lightgreen;
    --color-two: navajowhite;
    --color-three: lightgoldenrodyellow;
    --simple-bg-color: rgb(14, 37, 35);
}
body {
    background-color: var(--simple-bg-color);
    color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    border: 2px solid lightgreen;
    margin: 20px auto;
    max-width: 900px;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

.template {
    transition: all 0.2s ease-in-out;
    border: 2px solid navajowhite;
    text-align: center;
    color: navajowhite;
    padding: 10px;
    border-radius: 3px;
}
.template:hover {
    color: white;
}

.info {
    padding: 15px;
    border: 2px solid var(--color-two);
}

button {
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    background-color: var(--color-three);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 4px 3px 12px 0px rgb(31, 31, 31);
}

button:hover {
    background-color: var(--color-two);
}

button:active {
    box-shadow: inset 4px 3px 5px 1px rgb(55, 55, 55);
    background-color: var(--color-three);
}

button:disabled {
    background-color: gray;
}

input[name='option'] {
    padding: 10px;
    font-size: 20px;
}

.Error-message {
    color: red;
}

/* .modal {
    color: black;
} */
